@import defs

$betCellBorderWidth: 2px
$betCellMargin: 2px
$betCellPadding: 4px
$betCellWidth: 100px
$betCellHeight: 40px
$matchCellMargin: $betCellMargin
$matchCellPadding: 0
$matchCellHeight: 54px
$userCellWidth: 200px
$matchInfoHeight: 78px
$matchInfoLineHeight: 26px
$countdownHeight: 30px

.betMatrix
  display: flex

  .matches
    display: flex

  .users
    margin-top: $matchCellHeight + $matchCellMargin + $matchInfoHeight + $betCellMargin + $betCellHeight

  .users .user,
  .matches .match,
  .matches .bet,
  .matchCountdown
    margin: $betCellMargin
    padding: $betCellPadding
    width: $betCellWidth

  .users .user
    width: $userCellWidth
    .userName
      margin-left: 8px
      width: $userCellWidth - $user-icon-with - 8px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  .matchInfo
    height: $matchInfoHeight
    .infoLine
      white-space: nowrap
      height: $matchInfoLineHeight
      font-size: 14px
      line-height: 14px
      .infoBlock
        display: inline-block
        background-color: $primary
        color: $primary-text
        margin: $betCellMargin
        padding: 4px 8px
        height: 22px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        box-shadow: 0px 0px 4px 0px rgba(128,128,128,1)

  .matches .match,
  .matches .bet,
  .matches .matchResult
    display: flex
    justify-content: center
    text-align: center

  .matches .match
    height: $matchCellHeight
    padding: $matchCellPadding

  .matches .matchResult
    position: relative
    &.inProgress
      color: $highlight

  .matchCountdown
    background-color: $page-background
    position: absolute
    bottom: 0
    margin: 0 auto
    text-align: center
    border: $betCellBorderWidth solid $header-background
    padding: 2px 4px
    width: auto
    &.urgent
      color: $highlight
      border-color: $highlight
      font-weight: bold
    &.closed
      font-weight: bold

  .users .user,
  .matches .bet,
  .matches .matchResult
    display: flex
    align-items: center
    height: $betCellHeight

  .matches .bet
    box-shadow: 0px 0px 4px 0px rgba(128,128,128,1)
    &.missing
      background-color: #c4001d
      color: #fff
      font-weight: bold
    &.hidden
      background-color: #ccc
    &.my-bet
      box-shadow: 0px 0px 4px 0px $primary
    &.enter-now
      &:hover
        background-color: $secondary
        cursor: pointer
