$fonts: 'Open Sans', Helvetica, sans-serif
$font-size-normal: 16px

$page-background: #fff
$page-background-darker: #ccc
$page-text: #000

$header-background: #263238
$header-background-light: #546e7a
$header-text: #ccc
$header-light-text: #fff

$background-alt: #4a148c
$background-alt-text: #fff

$primary: #7b1fa2
$primary-text: #fff
$primary-light: #e1bee7
$secondary: #f50057
$secondary-text: #fff

$highlight: #c00

$user-icon-with: 50px

$error: #c00
$error-text: #fff
$note: #00c853
$note-text: #fff
